body {
	--color-main: blue;
}
.box-header {
	text-align: center;
	background: var(--color-main);
	color: white;
}
.box-list {
	border: 1px solid black;
	padding: .5rem;
	position: relative;
}
.box-list li {
	border: 1px solid black;
}
.box-buttons {
	float: right;
}
.box-buttons i {
	padding-right: .4rem;
	padding-left: .4rem;
}
.progress-10 {
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(45,253,123,0.8757878151260504) 10%);
}