{% extends "../templates/base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="../css/arithmetic.css">
{% endblock %}

{% block question1 %}
<div class="asdBlock" id="asdBlock">

			
			
		</div>
		<button onclick="submitAnswer()">Submit</button>
{% endblock %}

{% block question2 %}
<div class="asdBlock" id="asdBlock">

			
			
		</div>
		<button onclick="submitAnswer()">Submit</button>
{% endblock %}
{% block question3 %}
<div class="asdBlock" id="asdBlock">

			
			
		</div>
		<button onclick="submitAnswer()">Submit</button>
{% endblock %}
{% block question4 %}
<div class="asdBlock" id="asdBlock">

			
			
		</div>
		<button onclick="submitAnswer()">Submit</button>
{% endblock %}
{% block question5 %}
<div class="asdBlock" id="asdBlock">

			
			
		</div>
		<button onclick="submitAnswer()">Submit</button>
{% endblock %}
{% block question6 %}

		<div class="asdBlock" id="asdBlock">

			
			
		</div>
		<button onclick="submitAnswer()">Submit</button>
	
</div>
{% endblock %}
{% block scripts %}
<script src="../js/arithmetic.js"></script>
{% endblock %}