{% extends "../templates/base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="../css/arithmetic.css">
{% endblock %}

{% block content %}
	<div class="pure-g l-box">
		<div class="pure-u-1">
		</div>
		{% for i in types %}
		<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
			<div class="box-header">{{ i.name }}</div>
			<ul class='box-list'>
				{% for ii in range(0,i.goals.length) %}
				<li id="{{ i.name }}-goals-{{ ii }}" class="progress-{{ i.goals[ii].progress }}">{{ i.goals[ii].name }}</li>
				{% endfor %}
			</ul>
		</div>
		{% endfor %}
		
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
			<div class="asdBlock" id="asdBlock">
			
			</div>
			<div>
				<button onclick="submitAnswer()">Submit</button>
			</div>
		</div>
		<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
			<div class="asdBlock" id="asdBlock">
			
			</div>
			<div>
				<button onclick="submitAnswer()">Submit</button>
			</div>
		</div>
	</div>
{% endblock %}	
		

{% block scripts %}
<script>
  	var key = "{{ key }}";
</script>
<script src="../js/arithmetic.js"></script>

{% endblock %}