{% extends "templates/skeleton.html" %}

{% block main %}
    	<div class="w-full mb-2 py-4">
			<span class="text-2xl"><b>Quiz</b></span>
			<button class="float-right bg-white hover:border-gray-900 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-r focus:outline-none focus:shadow-outline" type="button">Share</button>
			<button class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 focus:outline-none focus:shadow-outline" type="button">Similar</button>
			<button onclick="submitQuestion()" class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-l focus:outline-none focus:shadow-outline" type="button">New</button>
					
        </div>

		<div class="flex flex-wrap w-full">
		  <div class="w-full sm:w-1/1 md:w-1/1 lg:w-1/1 mb-4 px-2">
			  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
				<b>Question</b>
								
			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				<div id="question" class="mb-4"></div>
				
				<div id="autoAnswers" class="w-full flex flex-wrap"> 
				</div>
				<template id="autoTemplate">
					<button class="bg-white hover:bg-gray-100 text-black py-2 px-2 m-2 rounded flex-auto border border-black focus:outline-none focus:shadow-outline" type="button"></button>

				</template>
			  </div>
		  </div>
		  <div class="w-full sm:w-1/1 md:w-1/1 lg:w-1/1 mb-4 px-2">
			  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
				<b>Errors</b>
								
			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				
	
				<div class="accordion" id="accordionErrors">
		  
				</div>
				  <template id="errorTemplate">
					  <div class="card">
						<div class="card-header" id="heading">
							<button class="float-left bg-transparent hover:bg-blue-400 text-gray-700 font-bold py-2 px-2 border border-blue-400 rounded focus:outline-none focus:shadow-outline" type="button">
							  Node
							</button>
							<button class="float-right bg-blue-100 hover:bg-blue-400 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-r focus:outline-none focus:shadow-outline" type="button">Yes</button>
							<button class="float-right bg-yellow-100 hover:bg-yellow-400 text-gray-700 font-bold py-2 px-2 border border-gray-400 focus:outline-none focus:shadow-outline" type="button">Maybe</button>
							<button class="float-right bg-red-100 hover:bg-red-400 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-l focus:outline-none focus:shadow-outline" type="button">No</button>
			
						</div>

						<div id="collapse" style="display:none;">
						  <div class="card-body">
							<div class="tf-tree">
							  <ul id="tree-simple">
							  </ul>
							</div>
						  </div>
						</div>
					  </div>
				  </template>
			  </div>
		  </div>
		  <div class="w-full sm:w-1/1 md:w-1/1 lg:w-1/1 mb-4 px-2">
			  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
				<b>Solution</b>
								
			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				
	
				<div class="accordion" id="accordionSolution">
		  
				</div>
				  <template id="treeTemplate">
					  <div class="card">
						<div class="card-header" id="heading">
						  <h2 class="mb-0">
							<button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">
							  Node
							</button>
						  </h2>
						</div>

						<div id="collapse" class="collapse" aria-labelledby="heading" data-parent="#accordionExample">
						  <div class="card-body">
							<div class="tf-tree">
							  <ul id="tree-simple">
							  </ul>
							</div>
						  </div>
						</div>
					  </div>
				  </template>
			  </div>
		  </div>
		</div>

{% endblock %}
{% block scripts %}
	<script>
		function toggleNode(evt) {
			var collapseTarget = evt.target.getAttribute('data-target');
			console.log(collapseTarget);
			var el = document.querySelector(collapseTarget);
			if (el.style.display != 'block'){
				el.style.display = "block";
			}
			else {
				el.style.display = "none";
			}
			
		}
		function createTrees(trees){
			document.getElementById("accordionSolution").innerHTML = "";
			
			for (var i=0;i<trees.length-1;i++){
				var template = document.querySelector('#errorTemplate');
				var clone = template.content.cloneNode(true);
				var button = clone.querySelector('#heading button.float-left');
				button.setAttribute('data-target','#collapse'+i);
				button.setAttribute('aria-controls','collapse'+i);
				button.addEventListener('click',toggleNode);
				clone.querySelector('#collapse').setAttribute('aria-labelledby','heading'+i);
				
				clone.querySelector('#heading').id = 'heading'+i;
				clone.querySelector('#collapse').id = 'collapse'+i;
				clone.querySelector('#tree-simple').id = 'tree-simple'+i;
				
				
				document.getElementById("accordionSolution").appendChild(clone);
				
			}
			for (var ii=0;ii<trees.length;ii++){
				var allNodes = trees[ii].allNodes;
				var nodes = trees[ii].nodes;
				var jsonTree = {};
				for (var i=0;i<allNodes.length;i++){
					var name = allNodes[i];
					var text = nodes[name].text;
					var children = [];
					var parent = nodes[name].parent;
					var node = document.createElement('li');
					var span = document.createElement('span');
					span.classList.add("tf-nc");
					if (nodes[name].startNode){
						span.classList.add("startNode");
					}
					else if (nodes[name].startNodes){
						span.classList.add("startNodes");
					}
					if (nodes[name].endNode){
						span.classList.add("endNode");
					}
					else if (nodes[name].endNodes){
						span.classList.add("endNodes");
					}
					span.textContent = text;
					node.appendChild(span);
				
				
					jsonTree[name]={text:text,children:children,node:node};
					if (parent != ""){
						jsonTree[parent].children.push(name);
						var pnode = jsonTree[parent].node;
						
						if (pnode.querySelector('ul')){
							pnode.querySelector('ul').appendChild(node);
						}
						else {
							var ul = document.createElement('ul');
							pnode.appendChild(ul);
							pnode.querySelector('ul').appendChild(node);
						}
					
					}
					else if (i==0){
						if (document.getElementById('tree-simple'+ii)){
							document.getElementById('tree-simple'+ii).appendChild(node);
						}
						else if (document.getElementById('tree-simple'+(ii-1))){
							document.getElementById('tree-simple'+(ii-1)).appendChild(node);
						}
						
						
					}
				
				}
			}
			for (var ii=0;ii<trees.length-1;ii++){
				if (document.getElementById('tree-simple'+ii) && document.getElementById('tree-simple'+(ii+1))){
					var nextNode = document.getElementById('tree-simple'+(ii+1)).querySelector('li');
					var node = nextNode.cloneNode(true);
					document.getElementById('tree-simple'+ii).appendChild(node);
					var step = document.createElement('div');
					step.innerHTML = trees[ii].step;
					document.getElementById('tree-simple'+ii).parentElement.appendChild(step);
				}
				
			}
			var katexElements = document.querySelectorAll('span.tf-nc');
			for (var i=0;i<katexElements.length;i++){
				var el = katexElements[i];
				katex.render(el.textContent, el, {
					throwOnError: false
				});
			}
		}
			
		    
	</script>
	<script>
		ws = new WebSocket('wss://matherrors.com:8081');
		ws.onopen = function(evt) {
			//var jsonmessage = {'type':'soloKey'};
			//jsonmessage.message = tkey;
			//ws.send(JSON.stringify(jsonmessage));
			
		}
		ws.onmessage = function(evt){
			var dm = JSON.parse(evt.data);
			console.log(dm);
			if (dm.type == 'answer'){
				createTrees(dm.answer);
			}
			else if (dm.type == 'question'){
				var div = document.getElementById('question');
				div.innerHTML = dm.question;
				
				autoComplete = {};
				autoNow = "";
				var answerEl = document.getElementById('answer');
				answerEl.addEventListener('keydown',answerDown);
				answerEl.addEventListener('input',answerChange);
				
			}
			else if (dm.type == 'auto'){
				console.log("ret message");
				console.log(dm);
				if (autoNow == dm.answer){
					autoComplete[dm.answer] = dm.auto;
					chgAuto(dm.answer);
					autoNow = "";
				}
				else {
					autoComplete[dm.answer] = dm.auto;
				}
			}
			
			
		}
		function chgAuto(answer) {
			var el = document.getElementById('autoAnswers');
			el.innerHTML = "";
			for (var i=0;i<autoComplete[answer].length;i++){
				var template = document.querySelector('#autoTemplate');
				var clone = template.content.cloneNode(true);
				var button = clone.querySelector('button');
				button.textContent = autoComplete[answer][i].latex;
				button.setAttribute('data-input',autoComplete[answer][i].input);
				button.addEventListener('click',setAnswer);
				button.id = "auto"+i;
				el.appendChild(button);
				katex.render(button.textContent, button, {
					throwOnError: false
				});
				
			}
		}
		function submitQuestion() {
			//var question = document.getElementById("equation").value;
			//var answer = "x";//document.getElementById("answer").value;
			var subject = "";
			var topic = "";
			var lesson = "";
			var name = "{{ name }}";
			{% if info.subtople and info.subtople.split('.')[0] %}
			subject = "{{ info.subtople.split('.')[0] }}";
			{% endif %}
			{% if info.subtople and info.subtople.split('.')[1] %}
			topic = "{{ info.subtople.split('.')[1] }}";
			{% endif %}
			{% if info.subtople and info.subtople.split('.')[2] %}
			lesson = "{{ info.subtople.split('.')[2] }}";
			{% endif %}
			var jsonmessage = {type:"makeanswers",subject:subject,topic:topic,lesson:lesson,name:name};
			ws.send(JSON.stringify(jsonmessage));
		}
		function submitAnswer(answer="") {
			if (answer == ""){
				answer = document.getElementById("answer").value;
			}
			var jsonmessage = {type:"check",answer:answer};
			ws.send(JSON.stringify(jsonmessage));
		}
		function setAnswer(evt) {
			var el = evt.target;
			console.log(el);
			while (!el.getAttribute('data-input') && el.parentElement){
				el = el.parentElement;
			}
			console.log(el);
			var answer = el.getAttribute('data-input');
			if (answer){
				console.log(answer);
				submitAnswer(answer);
			}
			
		}
		function answerDown(evt) {
			var key = evt.key;
			if (key != 'Shift'){
				var answer = document.getElementById("answer").value;
				var jsonmessage = {type:"auto",answer:answer+key};
				ws.send(JSON.stringify(jsonmessage));
			}
			
		}
		function answerChange(evt) {
			var answer = document.getElementById("answer").value;
			if (autoComplete[answer]){
				chgAuto(answer);
				
			}
			else {
				autoNow = answer;
				var jsonmessage = {type:"auto",answer:answer};
				ws.send(JSON.stringify(jsonmessage));
				
			}
			
		}
		var autoComplete = {};
		var autoNow = "";
		
		
	</script>
{% endblock %}
