{% extends "templates/skeleton.html" %}

{% block main %}
        <div class="w-full mb-2 py-4">
			<span class="text-2xl"><b>Create Question</b></span>
			<button class="float-right bg-white hover:border-gray-900 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-r focus:outline-none focus:shadow-outline" type="button">Share</button>
			<button class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 focus:outline-none focus:shadow-outline" type="button">Save</button>
			<button onclick="refreshQuestion()" class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 focus:outline-none focus:shadow-outline" type="button">Preview</button>
			<button class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 focus:outline-none focus:shadow-outline" type="button">Export</button>
			<button class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-l focus:outline-none focus:shadow-outline" type="button">Import</button>
					
        </div>

		<div class="flex flex-wrap w-full">
		  <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/2 mb-4 px-2">
			  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
				<b>Info</b>
			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="subtople">
						Subject.Topic.Lesson
					  </label>
					  <input id="subtople" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="name">
						Name
					  </label>
					  <input id="name" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>
				<div>
					  <label class="block text-gray-700 text-sm font-bold mb-1" for="human">
						Layout
					  </label>
					  <textarea id="human" rows="5" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3"></textarea>

				</div>
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="addTag">
						Tags
					  </label>
					  <div id="tags"></div>
					  <div class="w-full flex">
						<input id="addTag" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded flex-grow py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3 mr-2" type="text">
						<button onclick="addTag()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex-none focus:outline-none focus:shadow-outline mb-3" type="button">Add Tag</button>
					  </div>
				</div>
				
			  </div>
		  </div>
		  <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/2 mb-4 px-2">
			  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
				<b>Q/A</b>
			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="compQ">
						Question
					  </label>
					  <input id="compQ" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>
				<div>
					  <label class="block text-gray-700 text-sm font-bold mb-1" for="constraintsQ">
						Constraints
					  </label>
					  <textarea id="constraintsQ" rows="3" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3"></textarea>

				</div>

			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="compA">
						Answer
					  </label>
					  <input id="compA" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>
				<div>
					  <label class="block text-gray-700 text-sm font-bold mb-1" for="constraintsA">
						Constraints
					  </label>
					  <textarea id="constraintsA" rows="3" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3"></textarea>
						
				</div>
			  </div>
		  </div>
		</div>

		

{% endblock %}



{% block scripts %}  
	<script>
		function createTrees(input_str){
			document.getElementById("accordionExample").innerHTML = "";
			
			
			var trees = [];
			eval(input_str);
			for (var i=0;i<trees.length-1;i++){
				var template = document.querySelector('#treeTemplate');
				var clone = template.content.cloneNode(true);
				var button = clone.querySelector('#heading button');
				button.setAttribute('data-target','#collapse'+i);
				button.setAttribute('aria-controls','collapse'+i);
				clone.querySelector('#collapse').setAttribute('aria-labelledby','heading'+i);
				
				clone.querySelector('#heading').id = 'heading'+i;
				clone.querySelector('#collapse').id = 'collapse'+i;
				clone.querySelector('#tree-simple').id = 'tree-simple'+i;
				
				
				document.getElementById("accordionExample").appendChild(clone);
				
			}
			for (var ii=0;ii<trees.length;ii++){
				var allNodes = trees[ii].allNodes;
				var nodes = trees[ii].nodes;
				var jsonTree = {};
				for (var i=0;i<allNodes.length;i++){
					var name = allNodes[i];
					var text = nodes[name].text;
					var children = [];
					var parent = nodes[name].parent;
					var node = document.createElement('li');
					var span = document.createElement('span');
					span.classList.add("tf-nc");
					span.textContent = text;
					node.appendChild(span);
				
				
					jsonTree[name]={text:text,children:children,node:node};
					if (parent != ""){
						jsonTree[parent].children.push(name);
						var pnode = jsonTree[parent].node;
						if (pnode.querySelector('ul')){
							pnode.querySelector('ul').appendChild(node);
						}
						else {
							var ul = document.createElement('ul');
							pnode.appendChild(ul);
							pnode.querySelector('ul').appendChild(node);
						}
					
					}
					else if (i==0){
						if (document.getElementById('tree-simple'+ii)){
							document.getElementById('tree-simple'+ii).appendChild(node);
						}
						else if (document.getElementById('tree-simple'+(ii-1))){
							document.getElementById('tree-simple'+(ii-1)).appendChild(node);
						}
						
						
					}
				
				}
			}
			for (var ii=0;ii<trees.length-1;ii++){
				if (document.getElementById('tree-simple'+ii) && document.getElementById('tree-simple'+(ii+1))){
					var nextNode = document.getElementById('tree-simple'+(ii+1)).querySelector('li');
					var node = nextNode.cloneNode(true);
					document.getElementById('tree-simple'+ii).appendChild(node);
				}
				
			}
			var katexElements = document.querySelectorAll('span.tf-nc');
			for (var i=0;i<katexElements.length;i++){
				var el = katexElements[i];
				katex.render(el.textContent, el, {
					throwOnError: false
				});
			}
		}
			
		    
	</script>
	<script>
		ws = new WebSocket('wss://matherrors.com:8081');
		ws.onopen = function(evt) {
			//var jsonmessage = {'type':'soloKey'};
			//jsonmessage.message = tkey;
			//ws.send(JSON.stringify(jsonmessage));
			
		}
		ws.onmessage = function(evt){
			var dm = JSON.parse(evt.data);
			console.log(dm);
			if (dm.type == 'answer'){
				createTrees(dm.answer);
			}
			else if (dm.type == 'preview'){
				document.getElementById("previewQ").innerHTML = "";
				document.getElementById("previewQ").textContent = dm.preview;
			}
			
			
		}
		function refreshQuestion() {
			var outstr = makeQuestion();
			console.log(outstr);
			//var jsonmessage = {type:"previewQuestion",qstr:outstr};
			//ws.send(JSON.stringify(jsonmessage));
		}
		function saveQuestion() {
			var outstr = makeQuestion();
			document.getElementById("previewQ").innerHTML = "";
			document.getElementById("previewQ").textContent = outstr;
			
			var jsonmessage = {type:"saveQuestion",qstr:outstr};
			ws.send(JSON.stringify(jsonmessage));
		}
		var tags = [];
		function addTag() {
			var el = document.getElementById('addTag');
			tags.push(el.value);
			document.getElementById('tags').textContent += "\n"+el.value;
			el.value = "";
		}
		function makeQuestion() {
			var outstr = "";
			var subtople = document.getElementById("subtople").value;
			var name = document.getElementById("name").value;
			outstr += ":subtople:"+subtople + "\n:name:"+name+"\n";
			var human = document.getElementById("human").value;
			outstr += "::: layout\n"+human + "\n:::\n";
			var compQ =  document.getElementById("compQ").value;
			var constraintsQ =  document.getElementById("constraintsQ").value;
			outstr += "::: question\n"+compQ + "\n"+constraintsQ+"\n:::\n";
			var compA =  document.getElementById("compA").value;
			var constraintsA =  document.getElementById("constraintsA").value;
			outstr += "::: answer\n"+compA+"\n"+constraintsA+"\n:::\n";
			if (tags.length>0){
				outstr += "::: tags\n";
				for (var i=0;i<tags.length;i++){
					outstr += tags[i]+"\n";
				}
				outstr += "\n:::\n";
			}
			
			return outstr;
		}
		
		
	</script>

{% endblock %}