{% extends "templates/skeleton.html" %}

{% block main %}
        <div class="w-full mb-2 py-4">
			<span class="text-2xl"><b>Create Question</b></span>
			<button onclick="saveQuestion()" class="float-right bg-white hover:border-gray-900 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-r focus:outline-none focus:shadow-outline" type="button">Save</button>
			<button onclick="previewQuestion()" class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 focus:outline-none focus:shadow-outline" type="button">Preview</button>
			<button onclick="editQuestion()" class="float-right bg-transparent hover:bg-gray-200 text-gray-700 font-bold py-2 px-2 border border-gray-400 rounded-l focus:outline-none focus:shadow-outline" type="button">Edit</button>
					
        </div>
		
		<div class="flex flex-wrap w-full" id="preview" style="display: none;">
		  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
			<b>Preview</b>
			
		  </div>
		  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
		  	
		  </div>
		</div>
		
		<div class="flex flex-wrap w-full" id="edit">
		  <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/2 mb-4 px-2">
			  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
				<b>Info</b>
			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="subtople">
						Subject.Topic.Lesson
					  </label>
					  <input id="subtople" value="{% if info and info.subtople %}{{ info.subtople }}{% endif %}" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="name">
						Name
					  </label>
					  <input id="name" value="{% if info and info.name %}{{ info.name }}{% endif %}" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>
				<div>
					  <label class="block text-gray-700 text-sm font-bold mb-1" for="human">
						Layout
					  </label>
					  <textarea id="human" rows="5" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3">{% if layout %}{{ layout }}{% endif %}</textarea>

				</div>
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="addTag">
						Tags
					  </label>
					  <div id="tags" class="w-full bg-gray-100 border rounded taggle-div"></div>
				</div>
				
			  </div>
		  </div>
		  <div class="w-full sm:w-1/1 md:w-1/2 lg:w-1/2 mb-4 px-2">
			  <div class="w-full bg-gray-200 border border-gray-300 px-2 py-2 rounded-t">
				<b>Q/A</b>
			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="compQ">
						Question
					  </label>
					  <input id="compQ" value="{% if question and question.comp %}{{ question.comp }}{% endif %}" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>
				<div>
					  <label class="block text-gray-700 text-sm font-bold mb-1" for="constants">
						Constants
					  </label>
					  <textarea id="constants" rows="3" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3">{% if question and question.constants %}{{question.constants }}{% endif %}</textarea>

				</div>
				<div>
					<label class="block text-gray-700 text-sm font-bold mb-1" for="compA">
						Answer
					  </label>
					  <input id="compA" value="{% if answer and answer.comp %}{{ answer.comp }}{% endif %}" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded w-full py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3" type="text">

				</div>

			  </div>
			  <div class="w-full bg-white border border-gray-300 px-2 py-2 rounded-b">
				<div>
					<div class="w-full" id="constraints"> 
						{% for constraint in answer.constraintsY %}
						<div class="flex w-full">
							<textarea rows="3" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded flex-auto flex-grow py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3 mr-2" >{{ constraint }}</textarea>
							<div class="w-auto flex-initial pb-2 mb-3">
								<div class="border px-1 py-1 mb-3" name="delete"><i data-feather="trash"></i></div>
								<div class="border px-1 py-1 mb-3" name="required"><i data-feather="check"></i></div>
							</div>
						</div>
						{% endfor %}
						{% for constraint in answer.constraintsN %}
						<div class="flex w-full">
							<textarea rows="3" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded flex-auto flex-grow py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3 mr-2" >{{ constraint }}</textarea>
							<div class="w-auto flex-initial pb-2 mb-3">
								<div class="border px-1 py-1 mb-3" name="delete"><i data-feather="trash"></i></div>
								<div class="border px-1 py-1 mb-3" name="incomplete"><i data-feather="slash"></i></div>
							</div>
						</div>
						{% endfor %}
						{% if (not answer.constraintsY or answer.constraintsY.length < 1) and (not answer.constraintsN or answer.constraintsN.length < 1) %}
						<div class="flex w-full">
							<textarea rows="3" value="" class="bg-gray-100 appearance-none border-2 border-gray-400 rounded flex-auto flex-grow py-2 px-2 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 mb-3 mr-2" ></textarea>
							<div class="w-auto flex-initial pb-2 mb-3">
								<div class="border px-1 py-1 mb-3" name="delete"><i data-feather="trash"></i></div>
								<div class="border px-1 py-1 mb-3" name="required"><i data-feather="check"></i></div>
							</div>
						</div>
						{% endif %}
					</div>
					<div class="w-full">
						<button onclick="addConstraint()" class="bg-red-500 hover:bg-green-700 text-white font-bold py-0 px-1 rounded focus:outline-none focus:shadow-outline" type="button"><i data-feather="plus-circle" class="inline-block"></i> Add</button>
					</div>
				</div>
			  </div>
		  </div>
		</div>

		

{% endblock %}



{% block scripts %}  
	<script>
		function createTrees(input_str){
			document.getElementById("accordionExample").innerHTML = "";
			
			
			var trees = [];
			eval(input_str);
			for (var i=0;i<trees.length-1;i++){
				var template = document.querySelector('#treeTemplate');
				var clone = template.content.cloneNode(true);
				var button = clone.querySelector('#heading button');
				button.setAttribute('data-target','#collapse'+i);
				button.setAttribute('aria-controls','collapse'+i);
				clone.querySelector('#collapse').setAttribute('aria-labelledby','heading'+i);
				
				clone.querySelector('#heading').id = 'heading'+i;
				clone.querySelector('#collapse').id = 'collapse'+i;
				clone.querySelector('#tree-simple').id = 'tree-simple'+i;
				
				
				document.getElementById("accordionExample").appendChild(clone);
				
			}
			for (var ii=0;ii<trees.length;ii++){
				var allNodes = trees[ii].allNodes;
				var nodes = trees[ii].nodes;
				var jsonTree = {};
				for (var i=0;i<allNodes.length;i++){
					var name = allNodes[i];
					var text = nodes[name].text;
					var children = [];
					var parent = nodes[name].parent;
					var node = document.createElement('li');
					var span = document.createElement('span');
					span.classList.add("tf-nc");
					span.textContent = text;
					node.appendChild(span);
				
				
					jsonTree[name]={text:text,children:children,node:node};
					if (parent != ""){
						jsonTree[parent].children.push(name);
						var pnode = jsonTree[parent].node;
						if (pnode.querySelector('ul')){
							pnode.querySelector('ul').appendChild(node);
						}
						else {
							var ul = document.createElement('ul');
							pnode.appendChild(ul);
							pnode.querySelector('ul').appendChild(node);
						}
					
					}
					else if (i==0){
						if (document.getElementById('tree-simple'+ii)){
							document.getElementById('tree-simple'+ii).appendChild(node);
						}
						else if (document.getElementById('tree-simple'+(ii-1))){
							document.getElementById('tree-simple'+(ii-1)).appendChild(node);
						}
						
						
					}
				
				}
			}
			for (var ii=0;ii<trees.length-1;ii++){
				if (document.getElementById('tree-simple'+ii) && document.getElementById('tree-simple'+(ii+1))){
					var nextNode = document.getElementById('tree-simple'+(ii+1)).querySelector('li');
					var node = nextNode.cloneNode(true);
					document.getElementById('tree-simple'+ii).appendChild(node);
				}
				
			}
			var katexElements = document.querySelectorAll('span.tf-nc');
			for (var i=0;i<katexElements.length;i++){
				var el = katexElements[i];
				katex.render(el.textContent, el, {
					throwOnError: false
				});
			}
		}
			
		    
	</script>
	<script>
		ws = new WebSocket('wss://matherrors.com:8081');
		ws.onopen = function(evt) {
			//var jsonmessage = {'type':'soloKey'};
			//jsonmessage.message = tkey;
			//ws.send(JSON.stringify(jsonmessage));
			
		}
		ws.onmessage = function(evt){
			var dm = JSON.parse(evt.data);
			console.log(dm);
			if (dm.type == 'answer'){
				createTrees(dm.answer);
			}
			else if (dm.type == 'preview'){
				var el = document.getElementById('preview').querySelector('div.rounded-b');
				el.innerHTML = dm.message;
				document.getElementById('preview').style.display = "flex";
				document.getElementById('edit').style.display = "none";
				feather.replace();
			}
			else if (dm.type == 'saved'){
				originalSubtople = dm.subtople;
				originalName = dm.name;
			}
			
			
		}
		function previewQuestion() {
			var outstr = makeQuestion();
			console.log(outstr);
			var jsonmessage = {type:"previewQuestion",qstr:outstr};
			ws.send(JSON.stringify(jsonmessage));
		}
		function saveQuestion() {
			var outstr = makeQuestion();

			var subtople = document.getElementById('subtople').value.split('.');
			var name = document.getElementById('name').value;
			var subject = "";
			var topic = "";
			var lesson = "";

			if (subtople.length>0){
				subject = subtople[0];
			}
			if (subtople.length>1){
				topic = subtople[1];
			}
			if (subtople.length>2){
				lesson = subtople[2];
			}
			var overwrite = false;
			if (name == originalName && document.getElementById('subtople').value == originalSubtople){
				var overwrite = true;
			}
			var jsonmessage = {'type':'saveQuestion',overwrite:overwrite,'subject':subject,'topic':topic,'lesson':lesson,'question':outstr, 'name':name};
			console.log(jsonmessage);
			ws.send(JSON.stringify(jsonmessage));
		}
		function editQuestion() {
			document.getElementById('preview').style.display = "none";
			document.getElementById('edit').style.display = "flex";
			feather.replace();
		}
		
		function makeQuestion() {
			var outstr = "";
			var subtople = document.getElementById("subtople").value;
			var name = document.getElementById("name").value;
			outstr += ":subtople:"+subtople + "\n:name:"+name+"\n";
			var human = document.getElementById("human").value;
			outstr += "::: layout\n"+human + "\n:::\n";
			var compQ =  document.getElementById("compQ").value;
			var compA =  document.getElementById("compA").value;
			var constraintsQ =  document.getElementById("constants").value;
			outstr += "::: question\n"+compQ + "\n"+compA+"\n"+constraintsQ+"\n:::\n";
			
			var constraints =  document.getElementById("constraints").querySelectorAll('textarea');
			for (var i=0;i<constraints.length;i++){
				if (constraints[i].value.trim().length > 0){
					if (constraints[i].parentElement.querySelector('div[name=incomplete]')){
						outstr += "::: answern\n"+constraints[i].value+"\n:::\n";
					}
					else {
						outstr += "::: answery\n"+constraints[i].value+"\n:::\n";
					}
					
				}
				
			}
			var tagArray = tags.getTagValues();
			if (tagArray.length>0){
				outstr += "::: tags\n";
				for (var i=0;i<tagArray.length;i++){
					outstr += tagArray[i]+"\n";
				}
				outstr += "\n:::\n";
			}
			
			return outstr;
		}
		var els = document.querySelectorAll('div[name=delete]');
		for (var i=0;i<els.length;i++){
			els[i].addEventListener('click',deleteText);
		}
		els = document.querySelectorAll('div[name=required]');
		for (var i=0;i<els.length;i++){
			els[i].addEventListener('click',requiredConstraint);
		}
		els = document.querySelectorAll('div[name=incomplete]');
		for (var i=0;i<els.length;i++){
			els[i].addEventListener('click',incompleteConstraint);
		}

		var tags = new Taggle('tags',{
			onTagAdd: function(event, tag) {
				
			},
			onTagRemove: function(event, tag) {
				
			}
		});
		
		var originalSubtople = "{{ info.subtople }}";
		var originalName = "{{ info.name }}";
		
		
		function addTag() {
			var el = document.getElementById('addTag');
			tags.push(el.value);
			document.getElementById('tags').textContent += "\n"+el.value;
			el.value = "";
		}
		
		
		function deleteText(evt){
			var el = evt.target;
			while (el.getAttribute('name') != 'delete' && el.parentElement){
				el = el.parentElement;
			}
			el = el.parentElement.parentElement;
			el.parentNode.removeChild(el);
		}
		function requiredConstraint(evt){
			var el = evt.target;
			while (el.getAttribute('name') != 'required' && el.parentElement){
				el = el.parentElement;
			}
			el.setAttribute('name','incomplete');
			el.innerHTML = '<i data-feather="slash"></i>';
			feather.replace();
		}
		function incompleteConstraint(evt){
			var el = evt.target;
			while (el.getAttribute('name') != 'incomplete' && el.parentElement){
				el = el.parentElement;
			}
			el.setAttribute('name','required');
			el.innerHTML = '<i data-feather="check"></i>';

			feather.replace();
		}
		function addConstraint() {
			var clone = document.getElementById('constraints').querySelector('div.flex');
			var tArea = clone.cloneNode(true);
			tArea.querySelector('textarea').value = "";
			tArea.querySelector('div[name=delete]').addEventListener('click',deleteText);
			tArea.querySelector('div[name=required]').innerHTML = '<i data-feather="check"></i>';
			tArea.querySelector('div[name=required]').addEventListener('click',requiredConstraint);
			document.getElementById('constraints').appendChild(tArea);
			feather.replace();
		}
		
		
	</script>

{% endblock %}