<div class="w-full">
	<span class="mx-4 px-4 py-4 border rounded">
		<div>
		{{ node.getAttribute("cards").in | safe }}
		</div>
		{% for constraint in node.getAttribute("cards").constraintsYes %}
		<hr>
		<div class="bg-green-200">
			{{ constraint | safe }}
		</div>
		{% endfor %}
		{% for constraint in node.getAttribute("cards").constraintsNo %}
		<hr>
		<div class="bg-red-200">
			{{ constraint | safe }}
		</div>
		{% endfor %}
	</span>
	<span class="mx-4 px-4 py-4 border rounded">
		{{ node.getAttribute("cards").out | safe }}
	</span>
</div>