<div class="inline-block w-auto border rounded">
	<div class="flex w-full bg-gray-200 border px-1 py-1 summary">
		<span class="mr-2 border px-1 py-1 minimizer">
			<i data-feather="minimize-2"></i>
		</span>
		<span>
		{% if type == "rule" %}
			Rule: 
		{% endif %}
		{% if type == "error" %}
			Error: 
		{% endif %}
		</span>
	
	</div>
	<div class="flex w-full px-2 py-2 detail">
		<div class="w-auto inline-block object-center border rounded">
			<div class="w-full px-3 py-3">
			{{ cards.in | safe }}
			</div>
			{% for constraint in cards.constraints %}
			<hr>
			<div class="w-full bg-red-100 px-2">
				{{ constraint | safe }}
			</div>
			{% endfor %}
		</div>
		{% if type == "rule" %}
		<div class="w-auto inline-block object-center mx-2 py-3">
			------------>
		</div>
		{% endif %}
		{% if type == "error" %}
		<div class="w-auto text-red-400 inline-block object-center mx-2 py-3">
			--X--X--X-->
		</div>
		{% endif %}
		<div class="w-auto inline-block">
			<div class="w-full object-center px-3 py-3 border rounded">
			{{ cards.out | safe }}
			</div>
		</div>
	
	</div>
	<div class="max-w-4xl px-2 py-2 detail">
		{{ cards.explanation | safe }}
	</div>
</div>
