{% extends "../templates/base.html" %}
{% block stylesheet %}
{% endblock %}

{% block content %}
    	<div class="pure-g">
    		<div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
    		</div>
			<div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
				<form class="pure-form pure-form-stacked" action="/login" method="post">
					<fieldset>
						<legend>Log In</legend>

						<label for="username">Username</label>
						<input id="username" name="username" type="text" placeholder="Username">
						{% if badlogin %}<div style="color: red;">Username or password not correct!</div>{% endif %}

						<label for="password">Password</label>
						<input id="password" name="password" type="password" placeholder="Password">

						<!--<label for="remember" class="pure-checkbox">
							<input id="remember" type="checkbox"> Remember me
						</label>-->

						<button type="submit" class="pure-button pure-button-primary">Sign in</button>
					</fieldset>
				</form>
			</div>
			<div class="l-box pure-u-1 pure-u-md-1-4 pure-u-lg-1-4">
				<form class="pure-form pure-form-stacked" action="/register" method="post">
					<fieldset>
						<legend>Register</legend>

						<label for="email">Email</label>
						<input id="email" name="email" type="email" placeholder="Email">
						
						<label for="username">Username</label>
						<input id="username" name="username" type="text" placeholder="Username">
						{% if duplicate %}<div style="color: red;">Username already taken!</div>{% endif %}

						<label for="password">Password</label>
						<input id="password" name="password" type="password" placeholder="Password">

						<button type="submit" class="pure-button pure-button-primary">Register</button>
					</fieldset>
				</form>
			</div>
		</div>

{% endblock %}

	