{% extends "base_generic.html" %}
{% block title %}Derivative Calculator - Step by step solutions from Calculus College{% endblock %}
{% block meta_des %}Become a master at taking derivatives. Try our free derivative calculator to get an interactive, step by step differentiation of any function.{% endblock %}
{% block content %}


    <div class="container">

      <div class="starter-template">
        <div class="row">
                         <div class="col-md-3 hidden-xs hidden-sm"></div>
                                      <div class="col-md-6"><div class="panel panel-primary">
                            <div class="panel-heading">
                                          <h1 class="panel-title">Error</h1>
                                        </div>
                                        <div class="panel-body text-left">
                            If you're here then something has gone wrong on our end. Go back and try again or return to the <a href="index.html">home page</a> or do some <a href="derivative_calculator.html">derivative calculating</a>. We're really sorry about this so to prevent this from happening to other users please email bugs@calculuscollege.com with information about what you were doing and as much information as possible about your device/browser.
                                    

                                  </div></div></div></div>
        
                        

    </div>


    </div><!-- /.container -->




{% endblock %}

