{% extends "base_generic.html" %}
{% block title %}Derivatives Worksheets - Learn to Differentiate with Calculus College{% endblock %}
{% block content %}

<section id="sub-header" >
  	<div class="container">
    
    	<div class="row">
        	<div class="col-md-12 text-center">
            	<h1>Derivative Worksheets</h1>
                <p class="lead"> There is nothing better than working a few examples.</p>
            </div>
        </div><!-- End row -->

    </div><!-- End container -->
    <div class="divider_top"></div>
  </section>
  
  <section id="main_content">
  <div class="container">
  
    
	 <div class="row">
	     <div class="col-md-1"></div>
     		<div class="col-md-10">

                    
                    
                    
                    
                                        
                    
                    <div class="media">
                   <div class="circ-wrapper course_detail pull-left" ><h3>One</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="power_rule_worksheet.html">The Power Rule</a></h4>
                         <p>It shouldn't take you long to work power rule problems of all types.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Apply when x is raised to a constant power.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                             Bring the exponent to the front and reduce the exponent by one.<br /> $$\frac{d}{dx}[x^n]=nx^{n-1}$$
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="/power_rule_lesson.html" ><i class="icon-globe"></i>Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="power_rule_worksheet.html" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                            <tr>
                                              <td><a href="http://www.mathscoop.com/calculus/derivatives/the-power-rule.php">The Power Rule with animations...</a></td>
                                              <td>Math Scoop</td>
                                                            <td>Interactive</td>
                                                            <td>Short</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="http://patrickjmt.com/basic-derivative-examples/">Derivatives – Basic Examples</a></td>
                                              <td>PatrickJMT</td>
                                                            <td>Video</td>
                                                            <td>9:07</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="https://www.khanacademy.org/math/calculus-home/taking-derivatives-calc/power-rule-calc/v/proof-d-dx-x-n">Proof of the Power Rule...</a></td>
                                              <td>Khan Academy</td>
                                                            <td>Video</td>
                                                            <td>7:02</td>
                                                            
                                            </tr>
                                            
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    
                    <div class="media">
                   <div class="circ-wrapper course_detail pull-left" ><h3>Two</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="exponentials_logarithms_worksheet.html">Exponentials and Logarithms</a></h4>
                         <p>There are only a few functions to deal with so get some practice with all of them. </p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>The basic forms</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            $$\frac{d}{dx}[e^x]=e^x$$ $$\frac{d}{dx}[\ln{(x)}]=\frac{1}{x}$$
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="/exponentials_logarithms_lesson.html" ><i class="icon-globe"></i>Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="exponentials_logarithms_worksheet.html" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td><a href="http://tutorial.math.lamar.edu/Classes/CalcI/DiffExpLogFcns.aspx">Derivatives of Exponential and Logarithm Functions</a></td>
                                              <td>Paul's Notes</td>
                                                            <td>Article</td>
                                                            <td>Medium</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="http://www.math.brown.edu/UTRA/explog.html">Derivatives of Exponential & Logarithmic Functions</a></td>
                                              <td>Brown University</td>
                                                            <td>Article</td>
                                                            <td>Short</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td><a href="https://www.youtube.com/watch?v=xgarjF9DP78">Derivatives of Exponential Functions</a></td>
                                              <td>PatrickJMT</td>
                                                            <td>Video</td>
                                                            <td>4:35</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    
                    <div class="media">
			               <div class="circ-wrapper course_detail pull-left" ><h3>Three</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading"><a href="trigonometric_functions_worksheet.html">Trigonometric Functions</a></h4>
                         <p>Test whether you have actually memorized all of these derivatives so you're not overconfident.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Learn all 12 derivatives</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                        <div class="col-md-6">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>$f(x)$</th>
                                                <th>$\frac{d}{dx}[f(x)]$</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td>$\sin{(x)}$</td>
                                              <td>$\cos{(x)}$</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td>$\cos{(x)}$</td>
                                              <td>$-\sin{(x)}$</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td>$\tan{(x)}$</td>
                                              <td>$\sec{(x)}^2$</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td>$\cot{(x)}$</td>
                                              <td>$-\csc{(x)}^2$</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td>$\sec{(x)}$</td>
                                              <td>$\sec{(x)}\tan{(x)}$</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td>$\csc{(x)}$</td>
                                              <td>$-\csc{(x)}\cot{(x)}$</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table></div>

                                          <div class="col-md-6">
                                            <table class="table table-bordered table-striped"><thead><tr><th>$f(x)$</th><th>$\frac{d}{dx}[f(x)]$</th></tr></thead><tbody><tr><td>$\sin^{-1}{(x)}$</td><td>$\frac{1}{\sqrt{-x^2+1}}$</td></tr><tr><td>$\cos^{-1}{(x)}$</td><td>$\frac{-1}{\sqrt{-x^2+1}}$</td></tr><tr><td>$\tan^{-1}{(x)}$</td><td>$\frac{1}{x^2+1}$</td></tr><tr><td>$\cot^{-1}{(x)}$</td><td>$\frac{-1}{x^2+1}$</td></tr><tr><td>$\sec^{-1}{(x)}$</td><td>$\frac{1}{|x|\sqrt{x^2-1}}$</td></tr><tr><td>$\csc^{-1}{(x)}$</td><td>$\frac{-1}{|x|\sqrt{x^2-1}}$</td></tr></tbody></table>
                                            </div>


                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="trigonometric_functions_lesson.html" ><i class="icon-globe"></i>Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="trigonometric_functions_worksheet.html" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td><a href="http://www.math.brown.edu/UTRA/trigderivs.html">Derivatives of Trigonometric Functions</a></td>
                                              <td>Brown University</td>
                                                            <td>Article</td>
                                                            <td>Short</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="https://www.youtube.com/watch?v=apXayVtvCCc">How to Remember Derivatives of Trig...</a></td>
                                              <td>Verdant Media</td>
                                                            <td>Video</td>
                                                            <td>6:43</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td><a href="https://en.wikipedia.org/wiki/Differentiation_of_trigonometric_functions">Differentiation of trigonometric functions</a></td>
                                              <td>Wikipedia</td>
                                                            <td>Article</td>
                                                            <td>Long</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Four</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="sum_rule_worksheet.html">Sum Rule and Constant Multiples</a></h4>
                         <p>The easiest rule in Calculus is the sum rule so make sure you understand it.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Differentiate each term</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            Separate the function into its terms and find the derivative of each term. Then add up the derivatives. Also applies to subtraction in the same way. Constant multiples are a specific case of the sum rule.
                                            $$\frac{d}{dx}[f(x)+g(x)]=\frac{d}{dx}[f(x)]+\frac{d}{dx}[g(x)]$$
                                            $$\frac{d}{dx}[f(x)-g(x)]=\frac{d}{dx}[f(x)]-\frac{d}{dx}[g(x)]$$
                                            $$\frac{d}{dx}[cf(x)]=c\frac{d}{dx}[f(x)]$$
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="sum_rule_lesson.html" ><i class="icon-globe"></i>Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="sum_rule_worksheet.html" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td><a href="https://www.khanacademy.org/math/differential-calculus/basic-differentiation-dc/polynomial-functions-differentiation-dc/v/derivative-properties-and-polynomial-derivatives">Differentiating Polynomials</a></td>
                                              <td>Khan Academy</td>
                                                            <td>Video</td>
                                                            <td>9:52</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="http://math2.org/math/derivatives/identities/sum.htm">Sum Rule Proof</a></td>
                                              <td>Math2</td>
                                                            <td>Article</td>
                                                            <td>Short</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td><a href="https://en.wikipedia.org/wiki/Sum_rule_in_differentiation">Sum Rule</a></td>
                                              <td>Wikipedia</td>
                                                            <td>Article</td>
                                                            <td>Medium</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Five</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="product_rule_worksheet.html">Product Rule</a></h4>
                         <p>Products are not as nice as sums, so spend some time practicing how to keep track of all the functions.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Determine the factors</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            Rewrite the function as the product of two simpler functions. Then differentiate these two functions and combine them as dictated by the product rule.
                                            $$\frac{d}{dx}[f(x)g(x)]=f(x)\frac{d}{dx}[g(x)]+g(x)\frac{d}{dx}[f(x)]$$
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="product_rule_lesson.html" ><i class="icon-globe"></i>Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="product_rule_worksheet.html" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td><a href="http://tutorial.math.lamar.edu/Classes/CalcI/ProductQuotientRule.aspx">Product and Quotient Rule</a></td>
                                              <td>Paul's Online Math Notes</td>
                                                            <td>Article</td>
                                                            <td>Medium</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="https://www.math.hmc.edu/calculus/tutorials/prodrule/">Product Rule for Derivatives</a></td>
                                              <td>Harvey Mudd College</td>
                                                            <td>Article</td>
                                                            <td>Short</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td><a href="https://www.khanacademy.org/math/ap-calculus-ab/product-quotient-chain-rules-ab/product-rule-ab/v/applying-the-product-rule-for-derivatives">Product Rule Intro</a></td>
                                              <td>Khan Academy</td>
                                                            <td>Video</td>
                                                            <td>2:39</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Six</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="quotient_rule_worksheet.html">Quotient Rule</a></h4>
                         <p>The more quotient rule problems you work the more natural it will be and you won't have to second guess your memory.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Differentiate Fractions</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            Rewrite the function as a fraction with numerator and denominator each dependent on $x$. Differentiate the numerator and denominator and input these derivatives into thte quotient rule.
                                            $$\frac{d}{dx}[\frac{f(x)}{g(x)}]=\frac{g(x)\frac{d}{dx}[f(x)]-f(x)\frac{d}{dx}[g(x)]}{g(x)^2}$$
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="quotient_rule_lesson.html" ><i class="icon-globe"></i>Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="quotient_rule_worksheet.html" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td><a href="https://www.youtube.com/watch?v=jIX0VvwfEko">Quotient Rule Made Easier</a></td>
                                              <td>mathbff</td>
                                                            <td>Video</td>
                                                            <td>3:13</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="https://www.math.hmc.edu/calculus/tutorials/quotient_rule/">Quotient Rule for Derivatives</a></td>
                                              <td>Harvey Mudd College</td>
                                                            <td>Article</td>
                                                            <td>Short</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td><a href="https://www.youtube.com/watch?v=K3MxofAF-9o">The Quotient Rule</a></td>
                                              <td>PatrickJMT</td>
                                                            <td>Video</td>
                                                            <td>7:37</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Seven</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading"><a href="chain_rule_worksheet.html">Chain Rule</a></h4>
                        <p>The chain rule needs to be explored with practice so get to work on it right now.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Undo Function Composition</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            First, determine the outside function. Then what is left over is the inside function. Determine the derivative of the outside and inside functions and input into the chain rule.
                                            $$\frac{d}{dx}[f(g(x))]=\frac{d}{dg(x)}[f(g(x))]\frac{d}{dx}[g(x)]$$
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="chain_rule_lesson.html" ><i class="icon-globe"></i>Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="chain_rule_worksheet.html" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td><a href="http://tutorial.math.lamar.edu/Classes/CalcI/ChainRule.aspx">Chain Rule</a></td>
                                              <td>Paul's Online Math Notes</td>
                                                            <td>Article</td>
                                                            <td>Medium</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td><a href="https://www.youtube.com/watch?v=6kScLENCXLg">Chain Rule for Finding Derivatives</a></td>
                                              <td>PatrickJMT</td>
                                                            <td>Video</td>
                                                            <td>4:14</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td><a href="https://www.youtube.com/watch?v=TUJgZ4UDY2g">The Chain Rule...How?</a></td>
                                              <td>mathbff</td>
                                                            <td>Video</td>
                                                            <td>16:36</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    

                    
                  
           
                
            </div><!-- End col-md-8  -->
            
            <aside class="col-md-4 hidden">

       	 <div class="box_style_1">
                
                    <h4>Common mistakes</h4>
                    <ul class="list_1">
                          <li><a href="#">No Product Rule</a></li>
                          <li><a href="#">Bad Chain Rule</a></li>
                          <li><a href="#">Expoential as Power</a></li>
                          <li><a href="#">Constant Multiples</a></li>
                     </ul>
                    </div>
                    <div class="box_style_1">
                    <h4>Related content</h4>
                    <ul class="list_1">
                          <li><a href="#">Applications of Derivatives</a></li>
                          <li><a href="#">Integrals</a></li>
                          <li><a href="#">Limits</a></li>
                          <li><a href="#">Calculus</a></li>
                     </ul>
                     </div>
                    <div class="box_style_1">
                     <h4>Motivational Quote</h4>
                    Math is forever.
                    <h4>Algebraic Reminder</h4>
                    Don't forget to FOIL!
                                    
           </div>
         </aside> <!-- End col-md-4 -->
     	
     </div><!-- End row -->
  </div><!-- End container -->
  </section>



{% endblock %}
