{% extends "base_generic.html" %}
{% block title %}Derivatives Lesson - Learn Derivatives with Calculus College{% endblock %}
{% block content %}

<section id="sub-header" >
  	<div class="container">
    
    	<div class="row">
        	<div class="col-md-12 text-center">
            	<h1>Derivative Applications</h1>
                <p class="lead"> Everything you need to apply derivatives to solve real problems.</p>
            </div>
        </div><!-- End row -->

    </div><!-- End container -->
    <div class="divider_top"></div>
  </section>
  
  <section id="main_content">
  <div class="container">
  
    
	 <div class="row">
	   
     		<div class="col-md-8">

                    
                    <div class="media">
                   <div class="circ-wrapper course_detail pull-left" ><h3>One</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading">Implicit Differentiation</h4>
                         <p>Not exactly an application, but we're putting it here anyway.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Rate of Change</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            Derivatives are a method for analyzing instantaneous rates of change.
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="javascript:void(0)" ><i class="icon-globe"></i>Comprehensive Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="javascript:void(0)" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td>How to differentiate</td>
                                              <td>Khan Academy</td>
                                                            <td>Video</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td>How to differentiate</td>
                                              <td>PatrickJMT</td>
                                                            <td>Video</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td>How to differentiate</td>
                                              <td>BetterExplained</td>
                                                            <td>Lesson</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    
                    <div class="media">
                   <div class="circ-wrapper course_detail pull-left" ><h3>Two</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading">Local maximums and minimums</h4>
                         <p>The most common applications of derivatives involve maxmizing something.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Make it Simpler</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            The computer knows how to differentiate a few basic functions. If it runs into a function that it doesn't know how to differentiate then it applies a rule to break up the function into simpler parts that it can differentiate.
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="javascript:void(0)" ><i class="icon-globe"></i>Comprehensive Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="javascript:void(0)" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td>How to differentiate</td>
                                              <td>Khan Academy</td>
                                                            <td>Video</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td>How to differentiate</td>
                                              <td>PatrickJMT</td>
                                                            <td>Video</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td>How to differentiate</td>
                                              <td>BetterExplained</td>
                                                            <td>Lesson</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    
                    <div class="media">
                   <div class="circ-wrapper course_detail pull-left" ><h3>Three</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading">The Second Derivative</h4>
                         <p>Also not exactly an application, but the second derivative is part of some applications.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-fighter-jet"></i>Quick Refresher</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Apply when x is raised to a power</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            x^n becomes n*x^(n-1)
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a href="javascript:void(0)" ><i class="icon-globe"></i>Comprehensive Lesson</a>
                                    </li>
                                    <li class="po-markup">
                                    <a href="javascript:void(0)" ><i class="icon-pencil"></i>Worksheet</a>
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class=" icon-link"></i>External Links</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Quality links from around the web.</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <table class="table table-bordered table-striped">
              
                                              <thead>
                                                            <tr>                
                                                <th>Title</th>
                                                <th>Source</th>
                                                                <th>Format</th>
                                                                <th>Length</th>                   
                                              </tr></thead>
                                          
                                            <tbody>
                                                        <tr>
                                              <td>How to differentiate</td>
                                              <td>Khan Academy</td>
                                                            <td>Video</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                                        <tr>
                                              <td>How to differentiate</td>
                                              <td>PatrickJMT</td>
                                                            <td>Video</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                            <tr>
                                              <td>How to differentiate</td>
                                              <td>BetterExplained</td>
                                                            <td>Lesson</td>
                                                            <td>2:33</td>
                                                            
                                            </tr>
                                                      
                                          </tbody></table>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    
                    <div class="media">
                   <div class="circ-wrapper course_detail pull-left" ><h3>Four</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading">Related Rates</h4>
                         <p>Two more functions that appear repeatedly in any Calculus course.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i> Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i> Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li >
                                    <a href="javascript:void(0)" ><i class=" icon-download"></i> Download prospect</a>
                                    </li>
                          </ul>
                      </div>
                    </div>
                    
                    
                    <div class="media">
			               <div class="circ-wrapper course_detail pull-left" ><h3>Five</h3></div>
                      <div class="media-body">
                      	<h4 class="media-heading">Marginal Cost, Revenue, and Profit</h4>
                         <p>Learn about the economic applications of derivatives </p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i> Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i> Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li >
                                    <a href="javascript:void(0)" ><i class=" icon-download"></i> Download prospect</a>
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Six</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading">Optimization</h4>
                         <p>Simplify complex word problems into a function that needs to be optimized.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i> Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i> Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li >
                                    <a href="javascript:void(0)" ><i class=" icon-download"></i> Download prospect</a>
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Seven</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading">Product Rule</h4>
                         <p>Products are not as nice as sums, but learn the rule and differentiate any product.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i> Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i> Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li >
                                    <a href="javascript:void(0)" ><i class=" icon-download"></i> Download prospect</a>
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Eight</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading">Quotient Rule</h4>
                         <p>The quotient rule is as straight-forward as the product rule, but you need to memorize a little bit more.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i> Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i> Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li >
                                    <a href="javascript:void(0)" ><i class=" icon-download"></i> Download prospect</a>
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Nine</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading">Chain Rule</h4>
                        <p>If nothing else works then you're likely dealing with a composition of functions requiring the chain rule.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i> Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i> Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li >
                                    <a href="javascript:void(0)" ><i class=" icon-download"></i> Download prospect</a>
                                    </li>
                          </ul>
                      </div>
</div>
                    
                    
                    <div class="media">
                      <div class="circ-wrapper course_detail pull-left" ><h3>Ten</h3></div>
                      <div class="media-body">
                        <h4 class="media-heading">Logarithmic Differentiation</h4>
                         <p>One final type of function requires logarithmic differentiation.</p>
                         <ul class="data-lessons">
                              <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-clock"></i> Duration: 6 hours</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Duration: 6 hours</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-video"></i> Video files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Video files</strong></div> <!-- ./po-title -->
                                        <div class="po-body"><ul class="list_po_body"><li><i class="icon-ok"></i> 2 Video lessons</li><li> <i class="icon-ok"></i>1 Video for practice</li><li> <i class="icon-ok"></i>1 Video Quiz</li></ul>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li class="po-markup">
                                    <a class="po-link" href="javascript:void(0)" ><i class="icon-mic"></i> Audio files</a>
                                    <div class="po-content hidden">
                                        <div class="po-title"><strong>Audio files</strong></div> <!-- ./po-title -->
                                        <div class="po-body">
                                            <p class="no_margin">Lorem ipsum dolor sit amet, has at illum dictas definitiones, ei primis indoctum torquatos nec. Vis te velit probatus, natum atomorum tincidunt nec an.</p>
                                        </div><!-- ./po-body -->
                                    </div><!-- ./po-content -->
                                    </li>
                                    <li >
                                    <a href="javascript:void(0)" ><i class=" icon-download"></i> Download prospect</a>
                                    </li>
                          </ul>
                      </div>
</div>


                    
           
                
            </div><!-- End col-md-8  -->
            
            <aside class="col-md-4">
            <a href="derivative_worksheets.html" class=" button_fullwidth-3">I Want More Practice</a> 
       	 <div class="box_style_1">
                
                    <h4>Common mistakes</h4>
                    <ul class="list_1">
                          <li><a href="#">No Product Rule</a></li>
                          <li><a href="#">Bad Chain Rule</a></li>
                          <li><a href="#">Expoential as Power</a></li>
                          <li><a href="#">Constant Multiples</a></li>
                     </ul>
                    
                    <h4>Related content</h4>
                    <ul class="list_1">
                          <li><a href="#">Applications of Derivatives</a></li>
                          <li><a href="#">Integrals</a></li>
                          <li><a href="#">Limits</a></li>
                          <li><a href="#">Calculus</a></li>
                     </ul>
                     <h4>Motivational Quote</h4>
                    Math is forever.
                    <h4>Algebraic Reminder</h4>
                    Don't forget to FOIL!
                                    
           </div>
         </aside> <!-- End col-md-4 -->
     	
     </div><!-- End row -->
  </div><!-- End container -->
  </section>



{% endblock %}
