<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculus Videos</title>

    <link rel="stylesheet" href="static/css/videoStyles.css" />
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">

    <!-- Normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

    <!-- Mustard UI -->
    <link rel="stylesheet" href="static/css/mustard/dist/css/mustard-ui.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">

    <!-- The loading of KaTeX is deferred to speed up page rendering -->
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>

</head>
<body>

    <main>

        <section class="section-secondary" style="background-image: url('static/img/trianglify.png'); padding-top:0px;">
            <nav style="background-color:rgba(0, 0, 255, 0.0);">
                <div class="nav-container" style="background-color:rgba(0, 0, 200, 0.1);">
                    <div class="nav-logo">
                        <a href="/">Calculus Videos</a>
                    </div>
                    <ul class="nav-links">
                        <li><a href="#">Solutions</a></li>
                        <li><a href="#">Explainers</a></li>
                    </ul>
                </div>
            </nav>
            <div class="container">

                <div class="pricing-table row">
                    <div class="col col-sm-12 col-lg-6">
                        <div class="card">
                            <h3 class="card-title">Success!</h3>
                            

                                Congrats and enjoy!
                                
                                
                                <ul class="card-actions">
                                    <li>
                                        <button type="submit" class="button-primary">Go somewhere</button>
                                    </li>
                                </ul>

                            
                            
                        </div>
                    </div>
                </div>

            </div>
        </section>


    </main>

</body>
</html>

